@import "reset.css";

.container {
    min-width: 1366px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url("/img/background.png") no-repeat;
    background-size: cover;
}

header {
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 17px;
}

.logo {
    background: url("/img/logo.png") no-repeat;
    background-position-y: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 60px;
    padding-top: 9px;
    padding-bottom: 5px;
}

#holidays {
    font-size: 18px;
    line-height: 18px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.contact a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.logo:hover {
    background: url("/img/logo2.png") no-repeat;
    background-position-y: 5px;
    color: #F26522;
}

.contact a:hover {
    color: #F26522;
}

.list-item {
    position: relative;
}

.tours-list-grid {
    max-width: 1022px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    gap: 61px;
    row-gap: 44px;
}

.tours-list-grid li {
    text-align: center;
}

.item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.tours-list-grid li:hover .item-hover {
    display: block;
}

.tours-list-grid li a:hover {
    color: #F26522;
}

.item-hover {
    width: 295px;
    height: 55px;
    background: #F26522;
    position: absolute;
    bottom: 41px;
    left: 2.5px;
    display: none;
}

.from {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    top: 7px;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    top: 29px;
}

.view-details {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 180px;
    top: 32px;
}

.view-details::after {
    content: url("/img/Vector1.png");
    margin-left: 16px;
}

footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 49px;
    padding-bottom: 21px;
}