@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "reset.css";

body {
    background: #FFF;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 30px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4BCAFF;
    text-decoration: none;
    margin-bottom: 38px;
}

.logo span {
    color: #000000;
}

header {
    margin-bottom: 48px;
}

.top-menu-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    background: #35444F;
}

.top-menu-list li {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.top-menu-list li:hover {
    background: #222F3A;
}

.top-menu-list li a {
    padding: 26px 38px 19px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
}

.left-menu {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.left-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-menu-list li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.left-menu-list li:hover {
    background: #DBDBDB;
}

.left-menu-list li a {
    color: #485863;
    text-decoration: none;
    padding-top: 26px;
    padding-left: 38px;
    padding-bottom: 26px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    width: 885px;
}

.img-fon {
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 320px;
    width: 381px;
    background: url("/img/img-1.png") no-repeat;
}

.picture:hover {
    transform: scale(1.3);
    transition: transform 1s;
}

.text-first,
.text-second {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
}

.text-first {
    margin-top: 37px;
    margin-bottom: 34px;
}

.text-second {
    margin-bottom: 54px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer-menu-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.footer-menu-list li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    padding: 20px 10px 21px;
}

.footer-menu-list li a {
    color: #0C1927;
    text-decoration: none;
}

.footer-menu-list a:hover {
    color: #3181A6;
    text-decoration: underline 1px solid #3181A6;
}

.copyright {
    display: flex;
    width: 25%;
    justify-content: center;

}

.copyright p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}