body {
    background: rgba(0, 0, 0, 0.0001);
    width: 1280px;
    height: 1626px;
    margin: 0 auto;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
}
.menu li {
    padding-bottom: 29.5px;
    padding-top: 29.5px;
}
.link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-top: 48px;
}
.first-div {
    width: 1145px;
    margin-left: 67.5px;
}
.first-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 38px;
}
.second-div {
    width: 1145px;
    margin-left: 67.5px;
}
.second-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
}
.first-button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border: 1px solid #E4B564;;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    margin-top: 66px;
    display: block;
}
.footer-p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    justify-content: flex-end;
    margin-top: 82px;
}