@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@100&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #E5E5E5;
}
.container {
    width: 1920px;
    margin: 0 auto;
}
.container-parallax1 {
    background: url("/img/header-bg.jpeg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 37px 230px 120px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone-number {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
    text-decoration: none;
    padding-right: 39px;
}

.phone-number span {
    color: #FFFFFF;
}

.button {
    width: 218px;
    height: 50px;
    background: none;
    border: 1px solid #E4B564;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

main {
    padding-right: 230px;
    padding-left: 230px;
    padding-bottom: 239px;
}

.networks-title,
.equipment-title,
.project-title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.network-text {
    max-width: 1182px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.wrapper-network {
    width: 1460px;
    height: 963px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "network-1 network-2 network-2 network-3"
    "network-4 network-4 network-5 network-5";
    gap: 27px;
    margin-bottom: 161px;
}

.item-network {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 44px;
    padding-right: 44px;
}

.network-1 {
    grid-area: network-1;
    background: #634F2C;

}

.network-2 {
    grid-area: network-2;
    background: #B4A385;

}

.network-3 {
    grid-area: network-3;
    background: #E4B564;
}

.network-4 {
    grid-area: network-4;
    background: #635A4A;
}

.network-5 {
    grid-area: network-5;
    background: #B08C4D;
}

.equipment-title {
    margin-bottom: 94px;
}

.wrapper-equipment {
    display: grid;
    grid-template-columns: 467px 467px 467px;
    gap: 29px;
}

.wrapper-equipment ul {
    list-style: none;
}

.wrapper-equipment ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.wrapper-equipment ul li div {
    padding-top: 54px;
    padding-left: 42px;
}

.wrapper-equipment p {
    font-weight: 700;
}

.equipment-1 {
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 24px;
}

.equipment-2 {
    background: #1F1F1F;
    height: 560px;
}

.equipment-3 {
    background: #242424;
    height: 439px;
    margin-bottom: 33px;

}

.equipment-4 {
    background: #E4B564;
    height: 405px;

}

.equipment-5 {
    background: #1F1F1F;
    height: 255px;
    margin-bottom: 26px;

}

.equipment-6 {
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 26px;

}

.equipment-7 {
    background: #0A0909;
    height: 277px;

}

.container-parallax2 {
    background: url("/img/parallax-bg.jpeg") no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 230px;
}

.project-title {
    padding: 172px 230px 72px;
}

.wrapper-project {
    display: grid;
    grid-template-columns: 487px 486px 487px;
    grid-template-rows: 391px 391px;
    padding-bottom: 239px;
    padding-right: 230px;
    padding-left: 230px;
}

.item-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #634F2C;
}

.project-2 {
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(232, 210, 171, 0.76);
}

.project-3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #E4B564;
}

.project-4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #635A4A;
}

.project-5 {
    grid-area: 2 / 2 / 2 / 3;
    background: #B08C4D;
}

.project-6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #634F2C;
}

.project-1:hover .project-text,
.project-2:hover .project-text,
.project-3:hover .project-text,
.project-4:hover .project-text,
.project-5:hover .project-text,
.project-6:hover .project-text {
    display: block;
}

.project-text {
    display: none;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 80px;
    padding-left: 80px;
}

.project-text span {
    font-weight: 400;
}
