@import "reset.css";

@media screen and (max-width: 1030px) {
    .logo {
        margin-right: 20%;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    min-width: 1366px;
    min-height: 100vh;
    background: url("/img/fon.png") no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-right: 50%;
    margin-left: 5.7%;
    padding-top: 18px;
    padding-bottom: 18px;
}

.logo:hover {
    color: #3CB878;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-right: 5.7%;
}

.header-icons a {
    padding-right: 25px;
}

.header-icons::after {
    content: "";
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    opacity: 0.5;
}

.header-icons svg:hover path {
    fill: #3CB878
}

.subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

.subscribe-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.subscribe-text a {
    color: #FFFFFF;
}

.subscribe-text a:hover {
    color: #01813F;
}

.main-form {
    width: 444px;
    margin: auto;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    padding-bottom: 38px;
}

.menu-form p {
    font-weight: 400;
    font-size: 20px;
    color: #434343;
    position: absolute;
    left: 61px;
    top: 28px;
}

.menu-form a {
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    position: absolute;
    left: 346px;
    top: 33px;
}

.menu-form::before {
    content: "";
    background: #3CB878;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
}

.menu-form a:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

#form {
    padding-top: 20px;
}

.networks-button {
    margin: 0 auto;
    position: relative;
}

.networks-button button {
    width: 160px;
    height: 48px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.facebook {
    position: absolute;
    left: 60px;
    top: 60px;
    background: #305DB8;
}

.fab::after {
    content: "";
    display: -ms-flexbox;
    border-right: 1px solid #0A162F;
    margin-left: 19px;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook:hover {
    background: #022263;
}

.google {
    position: absolute;
    left: 224px;
    top: 60px;
    background: #DF4A32;
}

.google:hover {
    background: #AB1F09;
}

#or {
    font-weight: 400;
    font-size: 14px;
    color: #848484;
    padding-top: 139px;
    text-align: center;
    width: 328px;
    border-bottom: 1px solid #F2F2F2;;
    line-height: 0.1em;
    margin: 0 auto;
}

#or span {
    background: #fff;
    padding: 0 3px;
}

.item {
    width: 322px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #BEBEBE;
    margin: 0 auto;
    box-sizing: border-box;
}

.item:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="password"] {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #434343;
    padding-left: 19px;
    margin-bottom: 15px;
}

#agree {
    margin-left: 60px;
}

.terms {
    font-size: 14px;
    color: #434343;
}

.terms a {
    color: #3CB878;
    text-decoration: none;
}

.checkbox {
    display: none;
}

.checkbox + label {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 28px;
    background-size: 20px;
    margin-left: 60px;
}

.checkbox:not(checked) + label {
    background-image: url("/img/checkbox_empty.png");
}

.checkbox:checked + label {
    background-image: url("/img/checkbox1.png"), url("/img/checkbox_empty.png");
}

.terms a:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.checkbox:checked + label:hover {
    background-image: url("/img/checkbox2.png"), url("/img/checkbox_empty.png");
}

.create-account {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    margin-left: 60px;
    margin-top: 20px;
}

.create-account:hover {
    background: #01813F;
}